.banner{
    position: relative;
}

.banner .desc{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.banner .desc h1{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 1.5;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    padding: 0;
    margin: 0;
}